
table {
  border-collapse: collapse;
}

td{
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: gray;
  color: white;
  padding: 0.5rem;
}

body {
  font: normal medium/1.4 sans-serif;
}
