
<button routerLink="/students-add" class="add-button">
  Add Student
</button>
<br>

<table class="styled-table">
  <caption><h2>Students result</h2></caption>
  <thead>
    <tr>
      <th id="firstName">First Name</th>
      <th id="lastName">Last Name</th>
      <th id="averageRank">Average Rank</th>
      <th id="group">Group</th>
      <th colspan="2" id="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.averageRank}}</td>
      <td><a routerLink="/groups/{{student.group?.id}}">{{student.group?.title}}</a></td>
    <td>
      <button title="delete student" routerLink="/students/{{student.id}}">Update</button>
    </td>
    <td>
      <button title="delete student" (click)="delete(student)">Delete</button>
    </td>
  </tr>
</table>

<br>


