<h2>My Students</h2>

<table class="styled-table">
  <caption>Students result</caption>
  <thead>
    <tr>
      <th id="id">ID</th>
      <th id="firstName">First Name</th>
      <th id="lastName">Last Name</th>
      <th id="averageRank">Average Rank</th>
      <th id="group">Group</th>
      <th colspan="2" id="actions">Actions</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.firstName}}</td>
    <td>{{student.lastName}}</td>
    <td>{{student.averageRank}}</td>
    <td>{{student.group?.title}}</td>
    <td>
      <button title="delete student" routerLink="/students/{{student.id}}">Update</button>
    </td>
    <td>
      <button title="delete student" (click)="delete(student)">Delete</button>
    </td>
  </tr>
</table>

<br>
<button routerLink="/students-add" class="add-button">
  Add Student
</button>

