
<div>
  <br>
  <label for="student-firstName">Student firstName: </label>
  <input id="student-firstName" name="firstName" #studentFirstName required minlength="4"/>
  <label for="student-lastName">Student lastName: </label>
  <input id="student-lastName" #studentLastName required minlength="4"/>

  <div class="form-group">
    <label for="power">Group: </label>
    <select  id="power" required  #studentGroupID>
      <option *ngFor="let group of groups" [value]="group.id">{{group.title}}</option>
    </select>
  </div>
  <br>

  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(studentFirstName.value, studentLastName.value, +(studentGroupID.value)); goBack()">
    Add Student
  </button>

  <br><br>
  <button (click)="goBack()">Go Back</button>
</div>
