<div *ngIf="student">
  <h2>{{student.firstName | uppercase}} Details</h2>
  <div>

    <label for="student-firstName">Student firstName: </label>
    <input id="student-firstName" [(ngModel)]="student.firstName" placeholder="firstName" #studentFirstName maxlength="15"/>
    <br>

    <label for="student-lastName">Student lastName: </label>
    <input id="student-lastName" [(ngModel)]="student.lastName" placeholder="lastName" #studentLastName maxlength="15"/>
    <br>

    <label for="student-averageRank">Student averageRank: </label>
    <input id="student-averageRank" [(ngModel)]="student.averageRank" placeholder="averageRank" #studentAverageRank
           type=number step="0.1" min="0" max="5"/>
    <br>

    <div class="form-group">
      <label for="power">Group: </label>
      <select id="power" required #studentGroupID>
        <option *ngFor="let group of groups" [value]="group.id">{{group.title}}</option>
      </select>
    </div>

    <button (click)="update1(studentFirstName.value, studentLastName.value, +(studentAverageRank.value), +(studentGroupID.value)); goBack()">Update</button>
  </div>
  <br>
  <button (click)="goBack()">go back</button>
</div>
